<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickMed</title>
    <link rel="icon" href="/images/quickmedlogo.PNG">
    <link rel="stylesheet" href="animations.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/css/all.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/topblogani.css">
</head>
<body>

  <!-- start NavBar -->
  <div class="navbar">

    <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="QuickMed Logo" class="top">
        <p class="top"><span>QUICK</span>MED</p>
    </div>

    <div class="ham">
        <img id="open" src="/images/hamburger-svgrepo-com (1).png" alt="hamburger icon">
        <img id="closee" src="/images/close-circle-svgrepo-com.png" alt="close icon">
    </div>
    <div class="navlinks">


        <div class="navclose">
            <p id="clop">X</p>
        </div>
      
        <ul id="ul">
            <li><a href="/">Home</a></li>
            <li><a class="aboutl">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboimg"></a></li>
            <div class="aboutdrop">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
        </div>
            <li><a href="blog">Blog</a></li>
            <li><a href="services">Services</a></li>
            <li><a href="contact">Contact Us</a></li>
            <li><a class="joinl">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joinimg"></a></li>
            <div class="joindrop">
            <li class="donts2"><a href="/invest/investment">Investment</a></li>
            <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
        </div>
        </ul>

        
    </div>

   

    <div class="navpop">
    <div class="aboutpop">
        <ul>
            <li><a href="/about/aboutus">About Us</a></li>
            <li><a href="/about/aboutdteam">About the team</a></li>
        </ul>
    </div>
    <div class="joinpop">
        <ul>
            <li><a href="/invest/investment">Investment</a></li>
            <li><a href="/invest/partnership">Partnership</a></li>
        </ul>
    </div>

</div>

  

</div>
<!-- 08062812376 -->
<!-- end navbar -->






<div class="eveblog">
    <% topblog.forEach(function (topblog, admin) { %>
        
    <div class="carousel-container">
    <!-- Slides dynamically generated from the database -->
        <div class="carousel-slide" style="background-image: url('<%= topblog.imageI %>');">
            <div class="over">
          <a href="/topblogs/<%= topblog._id%>" class="carousel-slide-link">
            <div class="carousel-content">
              <h3 class="featured"><%= topblog.sefullname %></h3>
              <h1><%= topblog.setitle %></h1>
              <p class="secont"><%= topblog.secontent %></p>
            </div>
          </a>
        </div>
        </div>
      <!-- Navigation Arrows -->
      <div class="carousel-arrow left-arrow">◀</div>
      <div class="carousel-arrow right-arrow">▶</div>
    </div>
    
    <% }); %>




    <!-- Dot Navigation -->
    <div class="dot-navigation">
      <% topblog.forEach(function (topblog, index) { %>
        <span class="dot" data-index="<%= index %>"></span>
      <% }); %>
    </div>
  </div>
  
</div>
        </div>
    

        
      </div>


      <div class="search">
        <form action="" onsubmit="return false;">
            <input type="text" id="searchInput" placeholder="Search topic here">
           <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> 
        </form>
    </div>

 



      <div class="miniblog">

        <p class="minibp">Recent blog posts</p>
        <div class="d-blogs">
            <% if (blog && blog.length > 0) { %>
            <% blog.forEach(function (blog, admin) {%>
            <div class="blog">

                 <img src="<%= blog.imageI %>" alt="">


                <p class="blogtitle"><%= blog.title %> 
                </p>

                <span>
                <p id="true" class="blogdescrip"><%= blog.content %></p>
                <a href="/blogs/<%= blog.id%>">.....See more</a>
            </span>

                <section class="blogabout">
                    <p class="bloggername"><%= blog.fullname %></p>
                    <p class="bloggedate" data-created-at="<%= blog.createdAt %>"></p>
                </section>
            </div>

            <% }); %>

            <% } else { %>
                <p class="nob">No blog yet. </p>
              <% } %>


           
        </div>


    
        

        </div>
      </div>





</div>





<div class="footer">

    <div class="firstlogo">
        <div class="logo">
        <img src="/images/quickmedlogo.PNG" alt="">
            <p class="logop">Quick<span>Med</span></p>
    </div>

        <p class="smallp">At QuickMed, we are at the forefront of revolutionizing healthcare through cutting-edge technology.</p>
    

    <div class="downlinks">
        <a href="https://web.facebook.com/profile.php?id=61557942997138" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.youtube.com/@QuickMedng" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://www.instagram.com/quickmed.ng?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/Quick_Med1" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>


<div class="Quick-Links">

    <p class="quicklinkheadp">Quick links</p>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a class="aboutll">About <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="aboiimg"></a></li>
        <div class="aboutdropp">
            <li class="donts1"><a href="/about/aboutus">About Us</a></li>
            <li class="donts1"><a href="/about/aboutdteam">About the team</a></li>
    </div>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/services">services</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a class="joinll">Join Us <img src="/images/arrow-prev-small-svgrepo-com black.png" alt="" class="joiniimg"></a></li>
      <div class="joindropp">
                <li class="donts2"><a href="/invest/investment">Investment</a></li>
                <li class="donts2"><a href="/invest/partnership">Partnership</a></li>
            </div>
    

</div>


<div class="sevices">

    <p class="serviceheadp">Services</p>

    <ul>
        <li><a href="/services/ambulance">Ambulance</a></li>
        <li><a href="/services/hospital">Hospital</a></li>
        <li><a href="/services/e-consult">E-Consult</a></li>
        <li><a href="/services/quick-call">Quick-Call</a></li>
    </ul>
</div>


<div class="support">

    <p class="suportheadp">Help & Support</p>

    <ul>
        <li><a href="tel:09045585701">09045585701</a></li>
        <li><a href="mailto:quickmed@gmail.com">quickmed@gmail.com</a></li>
        <li><a href="/Terms">Terms and condition</a></li>
    </ul>
</div>


<hr>

<div class="under">
    <p>&copy;copywright QuickMed</p>
</div>

 </div>


 



<script src="/js/general.js"></script>
<script src="/js/blog.js"></script>






<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<script>
    document.querySelectorAll('.bloggedate').forEach(dateElement => {
    const rawDate = dateElement.getAttribute('data-created-at');
    const formattedDate = new Intl.DateTimeFormat('en-US', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
       
    }).format(new Date(rawDate));
    dateElement.textContent = formattedDate;
});

</script>



<script>
    document.getElementById("searchInput").addEventListener("keyup", function() {
        let searchText = this.value.toLowerCase();
        let blogs = document.querySelectorAll(".blog");
    
        blogs.forEach(blog => {
            let topic = blog.querySelector(".blogtitle").textContent.toLowerCase();
    
            if (topic.includes(searchText)) {
                blog.style.display = "block"; // Show if matched
            } else {
                blog.style.display = "none"; // Hide if not matched
            }
        });
    });
    </script>

<script>





document.addEventListener("DOMContentLoaded", function () {
    // Select the element containing the EJS-rendered content
    const blogContentElement = document.querySelector(".blogdescrip");

    if (blogContentElement) {
        // Decode any HTML entities that might be escaped
        const parser = new DOMParser();
        const decodedHTML = parser.parseFromString(blogContentElement.innerHTML, "text/html").body.innerHTML;

        // Inject decoded HTML so elements like <h1>, <p> render properly
        blogContentElement.innerHTML = decodedHTML;
    } else {
        console.error("Element with class 'blogdescrip' not found.");
    }
});



document.addEventListener("DOMContentLoaded", function () {
    // Select the element containing the EJS-rendered content
    const blogContentElement = document.querySelector(".secont");

    if (blogContentElement) {
        // Decode any HTML entities that might be escaped
        const parser = new DOMParser();
        const decodedHTML = parser.parseFromString(blogContentElement.innerHTML, "text/html").body.innerHTML;

        // Inject decoded HTML so elements like <h1>, <p> render properly
        blogContentElement.innerHTML = decodedHTML;
    } else {
        console.error("Element with class 'blogdescrip' not found.");
    }
});


</script>


</body>
</html>